@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    /* bg colors */
    --background: #02050e;
    --primary: #1e50ff;
    --secondary: #272d37;

    /* Text colors */
    --text-gray: #adb9c7;
    --text-white: #f3f4f6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* TODO */
    font-family: 'Montserrat', sans-serif; 

    text-decoration: none;
    list-style-type: none;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px;
    background: var(--secondary);

    /* TODO: Hacer scrolleable */
}

.logo {
    height: 40%;
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    gap: 100px;
}

.navbar-list {
    gap: 30px;
}

.navbar-list a {
    color: var(--text-gray);
    font-size: 14px;
}

.navbar-list li:first-child > a {
    color: var(--text-white);
    font-weight: 600;
}

.cart-icon {
    font-weight: 600;
    border-radius: 10px;
    height: 30px;
    padding: 5px 10px;
    margin-right: 1rem;
    color: var(--text-white);
    cursor: pointer;
}

main {
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
    width: 100%;
}

/* HERO SECTION */
#hero {
    margin-top: 50px;
    padding: 50px 0;

    max-width: 1000px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-info {
    display: flex;
    flex-direction: column;

    gap: 20px;
    width: 50%;
}

.hero-info h1 {
    font-size: 48px;
    width: 80%;
    font-weight: 800;
    color: var(--text-white);
}

.hero-info p {
    font-size: 14px;
    width: 70%;
    color: var(--text-gray)
}

.hero-info p > span {
    font-weight: 800;
}

.hero-info a {
    border-radius: 10px;
    font-size: 14px;
    color: var(--text-white);
    background-color: var(--primary);
    padding: 8px 0px;
    width: 120px;
    text-align: center;
}

.hero-card {
    width: 300px;
    background-color: var(--secondary);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.hero-card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-card-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.hero-card-top h3 {
    font-weight: 600px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hero-card-top span {
    background-color: var(--primary);
    text-align: center;
    width: 50px;
    padding: 3px 0;
    font-size: 14px;
    border-radius: 10px;
}

.hero-card-bottom {
    display: flex;
    justify-content: space-between;
}

.hero-card-creator {
    display: flex;
    align-items: center;
    gap: 5px;
}

.hero-card-creator img {
    height: 40px;
    width: 40px;
}

.creator-info p:first-child,
.hero-card-price p {
    color: var(--text-gray);
    font-size: 12px;
    font-weight: 300;
}

.hero-card-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.hero-card-price span,
.creator-info p:last-child {
    font-size: 14px;
}

.hero-card-price span {
    font-weight: 700;
}

